.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  padding: 18px 35px;
  color: white;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
}
.dark-2 {
  color: #474747;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
}

/* banner */

.banner {
  display: flex;
  margin: 0px 35px 0px 200px;
  justify-content: space-between;
}

.banner-greetings {
  font-size: 45px;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-profile-pic {
  width: 580px;
}
